<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>
    {% block titulo %}  Tumblr {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles/globals.css') }}">
    {{ bootstrap.load_css() }}
</head>

<body>
    <div class="container-fluid p-0 min-vh-100">
        <nav class="navbar navbar-expand-lg bg-body-secondary">
            <div class="container-fluid">
                <img style="width: 128px;" src="{{ url_for('static', filename='imgs/logo.png') }}">
            </div>
             <ul class="navbar-nav mb-2 me-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('homepage')}}">Sair</a>
                </li>
            </ul>
        </nav>
    
        {% block body %}
            
        {% endblock %}
        {{ bootstrap.load_js() }}
    </div>
</body>

</html>